@import url("https://fonts.googleapis.com/css?family=Cantata+One");
@import url("https://fonts.googleapis.com/css?family=Lato");

.project-container {
  height: 700px;
}
.card-container,
.card_front,
.card_back {
  width: 300px;
  height: 400px;
  margin: 1rem 0 1rem 0;
}

.card_front,
.card_back {
  height: 100%;
  background-color: #882a4f;
  box-shadow: 0px 5px 25px 0px rgba(115, 19, 54, 255);
}

.card-symbol {
  margin: 0;
  width: 100%;
  text-align: center;
  color: #000;
  font-family: "Railway", serif;
  /* font-size: 2em; */
  mix-blend-mode: lighten;
}

@supports (display: flex) {
  .card_front {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card_front .card-symbol {
    margin: 0 0.15em;
    border-radius: 50%;
    font-size: 15em;
  }
}

.card_front {
  position: relative;
  padding: 0 1em;
}

.card_front .card-symbol {
  font-size: 15em;
}

.card_back {
  /* display: none; */
  padding: 1em;
  background-color: white;
}

.card_front > *,
.card_back > * {
  background-color: white;
}

.card-text {
  padding: 0 3em 1em;
  line-height: 1.4;
  font-family: Roboto;
  font-size: 18px;
}

.card-text p:first-of-type {
  margin-top: 0;
  padding: 1.5em 0 0;
  border-top: 8px solid #333;
}

.project-container {
  perspective: 1000px;
}

.project-container:hover .card-container,
.project-container.hover {
  transform: rotateY(-180deg);
}

.card-container {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.readbtn:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card_front,
.card_back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.card_front {
  z-index: 2;
  transform: rotateY(0deg);
}

.card_back {
  transform: rotateY(-180deg);
}
