.skill-vessel {
  font-family: Roboto Slab;
}
.progress-bar-html {
  margin: auto;
  background: #fff;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  position: relative;
}
.progress-bar-html h2 {
  line-height: 70px;
  text-align: center;
  transform: rotate(-45deg);
}
.progress-bar-html:before {
  position: absolute;
  content: "";
  border: solid 5px #595959;
  border-width: 5px 0px 0px 5px;
  width: 20px;
  height: 20px;
  top: -9px;
  left: -9px;
  bottom: -9px;
  right: -9px;
  z-index: 10;
}
.progress-bar-html:after {
  position: absolute;
  content: "";
  border: solid 5px #e5be55;
  border-width: 5px 5px 5px 5px;
  width: 100px;
  height: 100px;
  top: -9px;
  left: -9px;
  bottom: -9px;
  right: -9px;
}

.progress-bar-react {
  margin: auto;
  background: #fff;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  position: relative;
}
.progress-bar-react h2 {
  line-height: 70px;
  text-align: center;
  transform: rotate(-45deg);
}
.progress-bar-react:before {
  position: absolute;
  content: "";
  border: solid 5px #595959;
  border-width: 5px 0px 0px 5px;
  width: 40px;
  height: 40px;
  top: -9px;
  left: -9px;
  bottom: -9px;
  right: -9px;
  z-index: 10;
}
.progress-bar-react:after {
  position: absolute;
  content: "";
  border: solid 5px #e5be55;
  border-width: 5px 5px 5px 5px;
  width: 100px;
  height: 100px;
  top: -9px;
  left: -9px;
  bottom: -9px;
  right: -9px;
}

.progress-bar-css {
  margin: auto;
  background: #fff;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  position: relative;
}
.progress-bar-css h2 {
  line-height: 70px;
  text-align: center;
  transform: rotate(-45deg);
}
.progress-bar-css:before {
  position: absolute;
  content: "";
  border: solid 5px #595959;
  border-width: 5px 0px 0px 5px;
  width: 20px;
  height: 20px;
  top: -9px;
  left: -9px;
  bottom: -9px;
  right: -9px;
  z-index: 10;
}
.progress-bar-css:after {
  position: absolute;
  content: "";
  border: solid 5px #e5be55;
  border-width: 5px 5px 5px 5px;
  width: 100px;
  height: 100px;
  top: -9px;
  left: -9px;
  bottom: -9px;
  right: -9px;
}

.progress-bar-js {
  margin: auto;
  background: #fff;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  position: relative;
}
.progress-bar-js h2 {
  line-height: 70px;
  text-align: center;
  transform: rotate(-45deg);
}
.progress-bar-js:before {
  position: absolute;
  content: "";
  border: solid 5px #595959;
  border-width: 5px 0px 0px 5px;
  width: 60px;
  height: 60px;
  top: -9px;
  left: -9px;
  bottom: -9px;
  right: -9px;
  z-index: 10;
}
.progress-bar-js:after {
  position: absolute;
  content: "";
  border: solid 5px #e5be55;
  border-width: 5px 5px 5px 5px;
  width: 100px;
  height: 100px;
  top: -9px;
  left: -9px;
  bottom: -9px;
  right: -9px;
}
.progress-bar-redux {
  margin: auto;
  background: #fff;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  position: relative;
}
.progress-bar-redux h2 {
  line-height: 70px;
  text-align: center;
  transform: rotate(-45deg);
}
.progress-bar-redux:before {
  position: absolute;
  content: "";
  border: solid 5px #595959;
  border-width: 5px 0px 0px 5px;
  width: 100px;
  height: 100px;
  top: -9px;
  left: -9px;
  bottom: -9px;
  right: -9px;
  z-index: 10;
}
.progress-bar-redux:after {
  position: absolute;
  content: "";
  border: solid 5px #e5be55;
  border-width: 5px 5px 5px 5px;
  width: 100px;
  height: 100px;
  top: -9px;
  left: -9px;
  bottom: -9px;
  right: -9px;
}
.progress-bar-express {
  margin: auto;
  background: #fff;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  position: relative;
}
.progress-bar-express h2 {
  line-height: 70px;
  text-align: center;
  transform: rotate(-45deg);
}
.progress-bar-express:before {
  position: absolute;
  content: "";
  border: solid 5px #595959;
  border-width: 5px 0px 0px 5px;
  width: 80px;
  height: 80px;
  top: -9px;
  left: -9px;
  bottom: -9px;
  right: -9px;
  z-index: 10;
}
.progress-bar-express:after {
  position: absolute;
  content: "";
  border: solid 5px #e5be55;
  border-width: 5px 5px 5px 5px;
  width: 100px;
  height: 100px;
  top: -9px;
  left: -9px;
  bottom: -9px;
  right: -9px;
}
.progress-bar-mongo {
  margin: auto;
  background: #fff;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  position: relative;
}
.progress-bar-mongo h2 {
  line-height: 70px;
  text-align: center;
  transform: rotate(-45deg);
}
.progress-bar-mongo:before {
  position: absolute;
  content: "";
  border: solid 5px #595959;
  border-width: 5px 0px 0px 5px;
  width: 80px;
  height: 80px;
  top: -9px;
  left: -9px;
  bottom: -9px;
  right: -9px;
  z-index: 10;
}
.progress-bar-mongo:after {
  position: absolute;
  content: "";
  border: solid 5px #e5be55;
  border-width: 5px 5px 5px 5px;
  width: 100px;
  height: 100px;
  top: -9px;
  left: -9px;
  bottom: -9px;
  right: -9px;
}
.progress-bar-bootstrap {
  margin: auto;
  background: #fff;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  position: relative;
}
.progress-bar-bootstrap h2 {
  line-height: 70px;
  text-align: center;
  transform: rotate(-45deg);
}
.progress-bar-bootstrap:before {
  position: absolute;
  content: "";
  border: solid 5px #595959;
  border-width: 5px 0px 0px 5px;
  width: 40px;
  height: 40px;
  top: -9px;
  left: -9px;
  bottom: -9px;
  right: -9px;
  z-index: 10;
}
.progress-bar-bootstrap:after {
  position: absolute;
  content: "";
  border: solid 5px #e5be55;
  border-width: 5px 5px 5px 5px;
  width: 100px;
  height: 100px;
  top: -9px;
  left: -9px;
  bottom: -9px;
  right: -9px;
}
.skill-box {
  min-height: 250px;
}
