.home-section {
  height: 100vh;
  background: #0b0704;
}
.info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  font-family: "Roboto Slab", serif;
}
.name-highlight {
  color: #e5be55;
  font-size: 90px;
  letter-spacing: 8px;
}
.type-highlight {
  color: #f7f7f7;
  font-size: 30px;
}
@media only screen and (max-width: 320px) {
  .name-highlight {
    font-size: 55px;
    margin-left: 60px;
  }
}
