.logo {
  height: 80px;
  width: 70px;
}
.navbar {
  background: transparent;
}
.nav-link {
  color: #f5f5f5 !important;
  font-family: "Roboto Slab", serif !important;
  font-size: 19px;
}
.set-right {
  margin-left: 48%;
}
.navbar-toggler {
  border-color: #e5be55 !important;
}

@media only screen and (max-width: 600px) {
  .set-right {
    margin-left: 10%;
  }
}
@media only screen and (max-width: 320px) {
  .logo {
    margin-left: -40px;
  }
  .navbar {
    background: #d3a935;
  }
}
