.links {
  font-family: Roboto;
  color: black;
  font-size: 20px;
}
.carded {
  border-radius: 10px;
  overflow: hidden;

}

.carded:hover {
  background: linear-gradient(to left, #ddd6f3, #faaca8);
}
