@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap");
.footer_container {
  min-height: 50vh;
  background-color: #000;
}
.footer_header {
  color: #fff;
  text-align: center;
  font-size: 20px;
  position: relative;
  margin: 0 auto;
  padding-top: 50px;
  font-family: "Cinzel Decorative", cursive;
}
.footer_header::before {
  content: "";
  display: block;
  width: 300px;
  height: 2px;
  background: #fff;
  left: 13%;
  top: 75%;
  position: absolute;
}
.footer_header::after {
  content: "";
  display: block;
  width: 300px;
  height: 2px;
  background: #fff;
  right: 13%;
  top: 75%;
  position: absolute;
}
.footer_col_1 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  font-weight: 700;
  height: 100%;
}
.footer_col_1 p {
  font-size: 33px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: linear-gradient(to bottom, #fff, #fff 65%, #000 50%, #000 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: orange;
  background-repeat: no-repeat;
  transition: background 0.2s ease-out;
  white-space: nowrap;
}

.footer_col_1 span {
  position: relative;
}

.footer_col_1 span:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 8px;
  background: #fff;
  bottom: 26px;
  transition: all 0.2s ease-out;
}

.footer_col_1 p:hover {
  background-position: 0 11px;
  color: #fff;
}

.footer_col_1 span:hover:before {
  transform: translateY(20px);
}

.footer_col_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.blockquote_wrapper {
  font-family: "Playfair Display", serif;
  color: #fff;
  max-width: 350px;
}
.blockquote_text {
  text-align: center;
  font-size: 18px;
}
.blockquote_text_credit a {
  text-decoration: none;
  color: #c1c1c1;
}
.blockquote_text_credit::before {
  content: "\2014\0020";
}
.blockquote_text_credit {
  text-align: right;
}
.blockquote_text_credit a {
  display: inline-block;
  position: relative;
  transition: 0.2s ease-in-out;
}

.blockquote_text_credit a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.blockquote_text_credit a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.blockquote_text_credit a:hover {
  color: #fff;
}
.footer_col_3 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock .ghnopm {
  padding: 3% !important;
}
.footer_content {
  position: relative;
  padding: 20px;
}
.footer_content h6 {
  position: relative;
  font-size: 26px;
  font-weight: 700;
  color: #fff;
  padding-bottom: 10px;
}
.footer_content h6:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -7px;
  left: 0;
  background-color: #fff;
}
.footer_content p {
  color: #fff;
  font-size: 14px;
  font-family: "Cinzel Decorative", cursive;
  letter-spacing: 2px;
  font-style: italic;
  padding-top: 10px;
}
/* .footer_container p {
  position: relative;
  color: #0b0704;
  text-align: center;
  font-family: "Poppins";
}
.social_wrapper ul {
  list-style: none;
  margin: 0;
  padding: 50px 0;
  display: flex;
  justify-content: center;
}
.social_wrapper ul li a {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: #fa4529;
  margin: 0 10px;
  transition: 0.5s;
}
.social_wrapper ul li a span {
  position: absolute;
  transition: transform 0.5s;
}
.social_wrapper ul li a span:nth-child(1),
.social_wrapper ul li a span:nth-child(3) {
  width: 100%;
  height: 1px;
  background: #fa4529;
}
.social_wrapper ul li a span:nth-child(1) {
  top: 0;
  left: 0;
  transform-origin: right;
}
.social_wrapper ul li a:hover span:nth-child(1) {
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}

.social_wrapper ul li a span:nth-child(3) {
  bottom: 0;
  left: 0;
  transform-origin: left;
}
.social_wrapper ul li a:hover span:nth-child(3) {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
.social_wrapper ul li a span:nth-child(2),
.social_wrapper ul li a span:nth-child(4) {
  width: 1px;
  height: 100%;
  background: #fa4529;
}
.social_wrapper ul li a span:nth-child(2) {
  top: 0;
  left: 0;
  transform: scaleY(0);
  transform-origin: bottom;
}
.social_wrapper ul li a:hover span:nth-child(2) {
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.5s;
}

.social_wrapper ul li a span:nth-child(4) {
  top: 0;
  right: 0;
  transform: scaleY(0);
  transform-origin: top;
}
.social_wrapper ul li a:hover span:nth-child(4) {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
} */
@media only screen and (max-width: 600px) {
  .footer_header::before,
  .footer_header::after {
    display: none;
  }
  .footer_col_1 p {
    font-size: 27px;
    padding-top: 40px;
  }
  .footer_col_1 span:before {
    display: none;
  }
  .footer_content h6 {
    font-size: 20px;
  }
  .footer_content p {
    font-size: 11px;
  }
}
