.skills_container {
  background-color: #f6f5fc;
  font-family: "Poppins";
}
.skills_header {
  text-align: center;
  margin: 40px;
}
.skills_header h1 {
  font-weight: 700;
  font-size: 30px;
}
.skills_header p {
  color: #b4b4b4;
  max-width: 600px;
}
.tools_header h1 {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  margin: 40px;
}
.education_header h1 {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  margin: 40px;
}
@media only screen and (max-width: 600px) {
  .skills_container {
    height: 100%;
  }
}
