.tools_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}
.tool {
  width: 7rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.tool span {
  margin-top: 15px;
  margin-bottom: 5px;
}
