@font-face {
  font-family: "Calibre";
  src: local("CalibreMedium"),
    url("./Fonts/CalibreMedium.otf") format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: "SFMono";
  src: local("SFMonoMedium"), url("./Fonts/SFMonoMedium.otf") format("opentype");
  font-weight: normal;
}
